.header {
    padding: 1.5rem;
    width: 100%;
    transition: all 0.3s;
}

.scrolled {
    background: var(--gradient-bg);
    padding: 1rem 0;
}
.active{
    color: var(--green1);
}

.header .header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .header-brand {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: 100%; /* Make sure this takes the full width */
}


.header-actions-btns {
    margin-left: 30%;
    display: flex;
    gap: 3rem;
}

.header-actions {
    display: flex;
    align-items: center;
    gap: 30rem;
}

.lang {
    /* margin-left: auto; Pushes the language button to the most right */
    display: flex;
    align-items:flex-end;
    gap: 0.5rem;
}

.arabic {
    flex-direction: row-reverse;
}


@media screen and (min-width = 768px) {
    .header-actions-btns {
        gap: 2rem;
        margin-left: 0;
    }
    
    .header-actions {
        gap: 2rem;

    }
    
  }
  @media screen and (min-width = 992px) {
    .header-actions-btns {
        gap: 2rem;
        margin-left: 0;
    }
    
    .header-actions {
       
        gap: 2rem;
    }
    
  }
  @media screen and (min-width = 1200px) {
    .header-actions-btns {
        margin-left: 0;
        gap: 2rem;
    }
    
    .header-actions {
        gap: 2rem;
    }}