
.header {
    padding: 1.5rem;
    /* position: fixed;
    top: 0;
    left: 0; */
    /* z-index: 55555; */
    width:100%;
    transition: all 0.3s;
}
.scrolled {
    background: var(--gradient-bg);
    padding: 1rem 0;
}
.header .header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header .header-brand {
    display: flex;
    align-items: center;
    gap: 0.5rem;
} 
.header-actions-btns {
    display: flex;
    gap: 1rem;


}
.lang{
    /*  */
}